
/* The next two rules make the horizontal line go straight across in top navbar */

.summary > li:first-child {
    height: 50px;
    padding-top: 10px;
    border-bottom: 1px solid rgba(0,0,0,.07);
}

.book .book-summary ul.summary li.divider {
    height: 0px;
}

/*____Code Chunks____*/

.sourceCode pre {
  margin: 0 !important; /* makes space above and below symmetrical*/
}

.sourceCode {
  margin-bottom: 0.85em; /* adds same amount of margin as a <p> would */
}

.sourceCode.r.mymyClass{
    overflow: visible;
}

.book .book-body .page-wrapper .page-inner {
  max-width: 1200px !important;
}


pre {
  max-height: 300px;
  overflow-y: auto;
  overflow-x: auto;
}

pre[class] {
  max-height: 100px;
}



h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 40px;
}

.caption {
  font-size: 0.95em;
  font-style: italic;
  color: grey;
  margin-right: 5%;
  margin-left: 5%;  
  text-align: justify;

}

.myClass img{border:0;}

/* .scroll-100 { */
/*   max-height: 100px; */
/*   overflow-y: auto; */
/*   background-color: inherit; */
/* } */


/* .scroll-1000 { */
/*   max-height: auto; */
/*   overflow-y: auto; */
/*   background-color: inherit; */
/* } */
